*.class

# Package Files #
*.jar
*.war
*.ear

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
package paycheck;
import javax.swing.*;
/**
 *
 * @author 041401067
 */
public class PayCheck {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) 
    {
        // TODO code application logic here
        
        //Declare the program variables
        
        String firstName;
        String lastName;
        String output;
        double total;
        String msgString;
        double grossPay;
        double finalAmount;
        double grossAmount;
        double federalTax;
        double stateTax;
        double socialSecurityTax;
        double medicateTax;
        double pensionPlan;
        double healthInsurance;
                
        
        // Set the prgram sequence
        
        firstName = JOptionPane.showInputDialog("What is your first Name?");
        lastName = JOptionPane.showInputDialog("What is your last Name?");
        grossPay = Double.parseDouble(JOptionPane.showInputDialog(" Please Enter your gross monthly income "));
        federalTax = Math.round(0.15* grossPay);
        stateTax = Math.round(0.035* grossPay);
        socialSecurityTax = Math.round(0.0575* grossPay);
        medicateTax = Math.round(0.0275* grossPay);
        pensionPlan = Math.round(0.05* grossPay);
        healthInsurance = 75;
        msgString = ("\nName: " + firstName + " " + lastName + "\nGross Pay: " + grossPay + "\nFederal Tax: " + federalTax + "\nState Tax: " + stateTax + "\nSocial Security Tax: " + socialSecurityTax + "\nMedicate/Medicaid Tax: " + medicateTax + "\nPension Plan: " + pensionPlan + "\nHealth Insurance: " + healthInsurance);
        
        //Output the total
        
        JOptionPane.showMessageDialog(null, msgString, "Total", JOptionPane.INFORMATION_MESSAGE);  
        
        
      
        
        
          
    }
}
