*.class

# Package Files #
*.jar
*.war
*.ear

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
package checkstrings;
import java.util.*;
/**
 *
 * @author 041401067
 */
public class CheckStrings {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        // TODO code application logic here
        
        //Initialise Variables
        
        String string1a;
        String string1b;
        
        //Set the values firectly using the assignment statement
        
        string1a = "hello";
        string1b = "hello";
        
        System.out.println("are the first set the same and equal?\n" + (string1a == string1b) + " and " + (string1a.equals(string1b)));
        
        //Now create two new objects and checl the same
        String string2a;
        String string2b;
        
        //Set the calues using a new statement
        
        string2a = new String("hello");
        string2b = new String("hello");
        
        System.out.println("are the second set the same and equal?\n" + (string2a == string2b) + " and " + (string2a.equals(string2b)));
            
    }
}
